<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sign-in.css" />
    <title>회원가입</title>
  </head>
  <body>
    <main role="main">
      <section class="sign">
        <a href="to_main">
          <img src="../../img/products/logo.png" width="150px" />
        </a>
        <form class="sign__form">
          <h1>회원가입</h1>
          <label for="form__id">아이디</label>
          <input id="form__id" class="form__id" name="email" type="email" placeholder="아이디" />
          <p class="help">이메일 형식으로 입력해 주세요.</p>

          <label for="form__pw">비밀번호</label>
          <input id="form__pw" class="form__pw" name="password" type="password" placeholder="비밀번호" />
          <p class="help">영문, 숫자, 특수문자 포함 8자 이상의 비밀번호를 입력해 주세요.</p>

          <label for="form__pw-check">비밀번호 확인</label>
          <input
            id="form__pw-check"
            class="form__pw-check"
            name="password-check"
            type="password"
            placeholder="비밀번호를 한번 더 입력해 주세요 "
          />

          <button class="form__submit" type="submit">회원가입하기</button>
        </form>
      </section>
    </main>
  </body>
</html>
