@import '/src/views/public/css/main.css';
@import '/src/views/orders/order/order-common.css';

<<<<<<<< HEAD:src/views/orders/order/cancel/cancel.css
.item-info {
========
.itme-info {
>>>>>>>> c5757ceaac483de509610e12c5df47d4b9b0348f:src/views/order/cancel/cancel.css
  display: flex;
}

.item-info > div {
  display: flex;
  flex-direction: column;
}

.cancel-reason {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cancel-detail-reason {
  display: flex;
  flex-direction: column;
}

.cancel-detail-reason > input {
  width: 50%;
  height: 100px;
  margin-top: 10px;
}

.return-price {
  display: flex;
  justify-content: space-between;
}
