@import '/src/views/public/css/main.css';
@import '/src/views/orders/order/order-common.css';

.itme-info {
  display: flex;
}

.itme-info > div {
  display: flex;
  flex-direction: column;
}

.cancle-reason {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cancle-detail-reason {
  display: flex;
  flex-direction: column;
}

.cancle-detail-reason > input {
  width: 50%;
  height: 100px;
}

.return-price {
  display: flex;
  justify-content: space-between;
}
