body {
  background-color: #f7f7f7;
}

body header {
  padding-bottom: 20px;
}

main {
  width: 1200px;
  height: 1050px;
  margin: auto;
  margin-bottom: 39px;
  background-color: #ffffff;
  border-radius: 20px;
}

section {
  margin-bottom: 50px;
  width: 800px;
  margin: 30px auto;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}
.title {
  padding-top: 30px;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 242, 215);
  height: 120px;
  border-radius: 16px;
}

.state {
  display: flex;
  justify-content: center;
}

.state__li {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 16px;
}

.state__num {
  border: 1px solid black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 8px;
}

.order {
  overflow: auto;
  height: 600px;
  width: 770px;
  border: 1px gray solid;
  padding: 20px;
  border-radius: 10px;
}

.order__preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px gray solid;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
}
.preview__top {
  display: flex;
  justify-content: space-between;
}
.preview__info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px gray solid;
}

.preview__info-container img {
  border-radius: 8px;
}

.preview__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.preview__info > p {
  padding: 3px;
}

.preview__btn--detail {
  text-decoration: none;
  margin: 10px 5px;
  width: 60px;
}

.preview__btn--detail button {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 60px;
  height: 80px;
  border-radius: 10px;
  border: #c1c1c1 solid 1px;
  background-color: #c1c1c120;
  font-size: 8px;
}

.preview__btn--detail button:hover {
  background-color: white;
}

.preview__info-wrap {
  display: flex;
  flex-direction: row;
}
