<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs"></script>
    <script defer type="module" src="mypage.js"></script>
    <link rel="stylesheet" href="mypage.css" />
    <title>마이페이지</title>
  </head>
  <body>
    <header></header>
    <main role="main">
      <section class="title">
        <h1>마이페이지</h1>
      </section>
      <section class="user">
        <p><span class="user__name"></span>님</p>
        <a class="user__edit" href="/mypage/check-valid-user">회원정보 수정</a>
        <a class="user__signout" href="/">로그아웃</a>
      </section>
      <section>
        <article>
          <ul class="state">
            <li class="state__li">
              <p class="state__num state__1"></p>
              <p class="state__title">입금대기</p>
            </li>
            <li class="state__li">
              <p class="state__num state__2"></p>
              <p class="state__title">결제완료</p>
            </li>
            <li class="state__li">
              <p class="state__num state__3"></p>
              <p class="state__title">배송준비중</p>
            </li>
            <li class="state__li">
              <p class="state__num state__4"></p>
              <p class="state__title">배송중</p>
            </li>
            <li class="state__li">
              <p class="state__num state__5"></p>
              <p class="state__title">배송완료</p>
            </li>
            <li class="state__li">
              <p class="state__num state__6"></p>
              <p class="state__title">주문취소</p>
            </li>
          </ul>
        </article>
        <article>
          <ul class="order"></ul>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
