main {
  max-width: 1200px;
  height: 1050px;
  margin: auto;
  margin-bottom: 39px;
  background-color: #ffffff;
  border-radius: 20px;
}

section {
  margin: 20px 0;
}

.title h1{
  font-size: 24px;
  font-weight: 500;
  padding: 24px 0 24px 0;
  border-bottom: 1px solid #dddddd ;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  height: 140px;
  border-radius: 8px;
  padding: 40px;
}
.user div{
display: flex;
flex-direction: column;

}
.user p{
  flex: 1;
  font-size: 20px;
  margin-bottom: 24px;
}
.user__name{
  font-weight: 500;
  margin-right: 2px;
}

.user a{
  text-decoration: 0;
  color: #666666;
  font-size: 14px;
}
.user__signout{
align-self: flex-end;
}

/* status */
.state {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.state__li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 16px;
}

.state__num {
  border: 1px solid #DFDFDF;
  border-radius: 100px;
  width: 64px;
  height: 64px;
  font-size: 24px;
  font-weight: 600;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.state__title{
  color: #666666;
  font-size: 14px;
}

/* 주문내역 */
.order {
  overflow: auto;
  height: 600px;
}

.order__preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #DFDFDF;
border-radius: 8px;
padding: 16px 32px;
margin-bottom: 24px;
}
.preview__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd ;
  padding: 16px 0 24px 0;
  margin-bottom: 24px;
}
.preview__top p{
  color: #666666;
}
.preview__info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 16px;
}

.preview__info-container img {
  border-radius: 8px;
  margin-right: 24px;
}

.preview__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.preview__state{
  font-size: 20px;
  font-weight: 500;
  color: #999999;
  margin-bottom: 16px;
}
.preview__info > p {
  padding: 3px;
}
.preview__info--title{
  margin-bottom: 8px;
}
.preview__info--other{
  font-size: 14px;
  color: #666666;
}
.preview__info--price{
  font-size: 18px;
  margin-right: 2px;
}
.preview__btn--detail {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  width: 124px;
  height: 46px;
  border-radius: 100px;
  border: #c1c1c1 solid 1px;
  background-color: white;
  padding: 0px 16px 0px 16px;
}
.preview__btn--detail:hover{
  background-color: #c1c1c120;
}

.preview__info-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
}


