@import '/src/views/public/css/main.css';
@import '/src/views/orders/order/order-common.css';

.item-info {
  display: flex;
  flex-direction: row;
}

.item-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
}
