<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    <link rel="stylesheet" href="./order-detail.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="./order-detail.js" type="module"></script>
  </head>
  <body>
    <header></header>
    <nav class="navbar"></nav>
    <main>
      <h3>주문 상세</h3>
      <div class="contents">
        <div class="success-order">
          <section>
            <div class="item-status">
              <div>
                <div>2023.04.19</div>
                <div>결제완료</div>
              </div>
              <div>내일(4/20) 오후 5시 이전 도착 예정</div>
              <div class="item-info">
                <img src="../../../img/products/logo_simple.png" />
                <div>
                  <span>제품명</span>
                  <span>수량</span>
                  <div>금액</div>
                </div>
              </div>
            </div>
          </section>
          <section class="success-order__user-adress">
            <div class="content-title">
              <span>배송지</span>
            </div>
            <div class="content">
              <div>
                <span>배송지 명</span>
                <span>실제 주소</span>
                <span>받는 사람 정보</span>
              </div>
              <div>
                <span>문앞 | 필요없음</span>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>결제정보</span>
            </div>
            <div class="content">
              <div>총 결제금액</div>
              <div>7000원</div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>결제수단 정보</span>
            </div>
            <div class="content">
              <span>무통장 입금</span>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <div class="content__boutton-wrap">
                <button>나의 정보</button>
                <button>계속 쇼핑하기</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
