<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
    <link rel="stylesheet" href="./cart.css" />
  </head>
  <body>
    <header></header>
    <div>
      <h3 id="page-title">CART</h3>
    </div>
    <hr />
    <main>
      <section>
        <ul id="cart-list">
          <li class="cart-item-wrap">
            <div class="cart-item">
              <div class="item-imformation-wrap">
                <input type="checkbox" class="itme-checkbox" />
                <a class="item-img-wrap">
                  <img class="item-img" src="./test.jpg" />
                </a>
                <div class="item-imformation">
                  <span class="item-name">방석</span>
                  <span class="price">20000원</span>
                </div>
              </div>
              <div class="amount-wrap">
                <div class="amount">
                  <button>+</button>
                  <span>0</span>
                  <button>-</button>
                </div>
                <div>
                  <button class="delete-button">X</button>
                </div>
              </div>
            </div>
          </li>
          <li class="cart-item-wrap">
            <div class="cart-item">
              <div class="item-imformation-wrap">
                <input type="checkbox" class="itme-checkbox" />
                <a class="item-img-wrap">
                  <img class="item-img" src="./test.jpg" />
                </a>
                <div class="item-imformation">
                  <span class="item-name">방석</span>
                  <span class="price">20000원</span>
                </div>
              </div>
              <div class="amount-wrap">
                <div class="amount">
                  <button>+</button>
                  <span>0</span>
                  <button>-</button>
                </div>
                <div>
                  <button class="delete-button">X</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div id="order-delete-button-wrap">
          <div id="delete-button-wrap">
            <button id="choice-delete">선택삭제</button>
            <button id="all-delete">전첵삭제</button>
          </div>
          <div id="order-button-wrap">
            <button id="choice-order">선택삭제</button>
            <button id="all-order">전체삭제</button>
          </div>
        </div>
        <div id="order-price">
          <div>
            <span>주문금액</span>
            <span>100000원</span>
          </div>
          <div>
            <span>배송비</span>
            <span>100000원</span>
          </div>
          <hr />
          <div>
            <span>합계</span>
            <span>5000원</span>
          </div>
          <form>
            <button>주문하기</button>
          </form>
        </div>
      </section>
      <footer></footer>
    </main>
  </body>
</html>
