<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="check-valid-user.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/input-common.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="check-valid-user.js"></script>
    <title>비밀번호 확인</title>
  </head>
  <body>
    <main role="main">
      <section class="sign">
        <a href="/">
          <img src="/img/logo.png" width="150px" />
        </a>
        <form class="sign__form">
          <h1>비밀번호 확인</h1>
          <p>회원님의 소중한 개인정보 보호를 위해</p>
          <p>비밀번호를 확인해 주세요!</p>
          <input class="form__pw" name="password" type="password" placeholder="비밀번호" />
          <button class="form__submit" type="submit">확인</button>
        </form>
      </section>
    </main>
  </body>
</html>
