<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
    <link rel="stylesheet" href="./success.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/order-common.css" />
    <script src="./success.js" type="module"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header></header>
    <nav class="navbar"></nav>
    <main>
      <h3>주문 완료</h3>
      <div class="contents">
        <div class="success-order">
          <section>
            <div class="content-title"></div>
            <div class="content">
              <div>
                <span class="user-name"> 이준석 </span>
                님 주문이 완료되었습니다.
              </div>
              <div>주문하신 내역은 나의 정보에서 확인하실 수 있습니다.</div>
            </div>
          </section>
          <section class="success-order__user-address">
            <div class="content-title">
              <span>배송지</span>
            </div>
            <div class="content">
              <div class="-info">
                <span class="address">실제 주소</span>
                <span class="rec">받는 사람 정보</span>
                <span>전화번호</span>
                <span>문앞 | 필요없음</span>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>결제정보</span>
            </div>
            <div class="content">
              <div>총 결제금액</div>
              <div>7000원</div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>결제수단 정보</span>
            </div>
            <div class="content">
              <span>무통장 입금</span>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <div class="content__boutton-wrap">
                <button>상세 주문내역</button>
                <button>계속 쇼핑하기</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
