<link rel="stylesheet" href="header.css" />

<header>
  <a href="#"><img class="logo" src="./img/logo.png" width="140" /></a>
  <ul class="category">
    <li>
      <a href="#">Food</a>
    </li>
    <li>
      <a href="#">Snack</a>
    </li>
    <li>
      <a href="#">Toy</a>
    </li>
    <li>
      <a href="#">Toilet</a>
    </li>
    <li>
      <a href="#">Fashion</a>
    </li>
  </ul>

  <ul class="user-menu">
    <li>
      <a href="mypage"
        ><img class="icon" src="./img/icon-setting-24_2.png"
      /></a>
    </li>
    <li>
      <a href="cart"
        ><img class="icon" src="./img/Cart Large Minimalistic.png"
      /></a>
    </li>
  </ul>
</header>
