.delivery-info-wrap,
.delivery-request-wrap {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.delivery-info-wrap {
  height: 190px;
}

.pay-method li {
  padding-top: 10px;
}

.card-info,
.virtual-account-info {
  width: 500px;
  flex-direction: column;
  background-color: #f7f7f7;
  visibility: hidden;
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #c1c1c120;
  border-radius: 5px;
}

.open {
  visibility: visible;
  display: flex;
}

.card-info > div,
.virtual-account-info > div {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.card-info > div > input,
.card-info > div > select {
  width: 90%;
  height: 30px;
}

.virtual-account-info > div {
  flex-direction: row;
  border-bottom: 1px solid #abb2b9;
  padding: 10px 10px;
}

.virtual-account-info > div > span {
  width: 55%;
}

.bank-info span {
  line-height: 200%;
}

.bank-info div {
  display: flex;
  flex-direction: column;
}

.payment-btn {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  height: 40px;
  width: 400px;
  border-radius: 100px;
  padding: 0px 16px 0px 16px;
  background-color: #ffe04b;
  margin-left: 100px;
}

.payment-btn:hover {
  background-color: #ffeb60;
}

.delivery-info,
.change-delivery-info {
  display: flex;
  flex-direction: column;
  height: 190px;
}

.delivery-info > span,
.change-delivery-info > input {
  width: 500px;
  height: 40px;
  margin: 10px 0;
  line-height: 40px;
}

.change-delivery-info {
  display: flex;
  flex-direction: column;
}

.close {
  display: none;
}

#change-delivery-info-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 90px;
  height: 120px;
  border-radius: 10px;
  border: #c1c1c1 solid 1px;
  background-color: #c1c1c120;
  padding: 0px 16px 0px 16px;
}

#change-delivery-info-btn:hover {
  background-color: white;
}
