<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sign-in.css" />
    <title>로그인</title>
  </head>
  <body>
    <main role="main">
      <section class="sign">
        <a href="to_main">
          <img src="../../img/products/logo.png" width="150px" />
        </a>
        <form class="sign__form">
          <input class="form__id" name="email" type="email" placeholder="이메일" />
          <input class="form__pw" name="password" type="password" placeholder="비밀번호" />
          <button class="form__submit" type="submit">로그인</button>
          <div class="form__link">
            <a href="to_비번재설정">비밀번호 재설정</a>
            <a href="to_sign-up">회원가입</a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
