.delete-btn{
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  width: 340px;
  height: 56px;
  border-radius: 100px;
  border: #c1c1c1 solid 1px;
  background-color: white;
  padding: 0px 16px 0px 16px;
  color: #878787;
}

.delete-btn:hover{
  background-color: #c1c1c120;
}