.item-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #abb2b9;
  margin-left: 40px;
  margin-top: 15px;
  width: 90%;
}

.item-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
}

.item-info-wrap {
  margin-top: 20px;
  overflow: auto;
  height: 420px;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 10px;
}

.item-status > div {
  width: 280px;
  margin-bottom: 4px;
  border-bottom: 1px solid #abb2b9;
}

.receiver-info {
  display: flex;
  flex-direction: column;
}

.receiver-info span {
  margin-bottom: 5px;
}

.item-img {
  width: 20%;
  height: 20%;
}
