.item-info {
  display: flex;
  flex-direction: row;
}

.item-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
}

.receiver-info {
  display: flex;
  flex-direction: column;
}

.receiver-info span {
  margin-bottom: 5px;
}
