.prod-detail {
  display: flex;
  justify-content: center;
}
.overview {
  display: flex;
  width: 1200px;
  gap: 64px;
  justify-content: center;
  margin: 40px 0;
}
.overview__img {
  flex: 1;
  border-radius: 16px;
}
.overview__detail {
  flex: 1;
}

.overview__category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100px;
  padding: 4px 12px 4px 12px;
  height: 32px;
  width: 100px;
  margin-bottom: 20px;
}
.overview__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.overview__price {
  font-size: 32px;
  font-weight: 700;
}
.overview__detail h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.overview__description {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  color: #777777;
}

.content {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

/* 하단 장바구니 구매하기 버튼 영역 */
body footer {
  padding-bottom: 80px;
}
.bottom-nav-container {
  width: 100%;
  height: 80px;
  box-shadow: 2px -4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 3;
  bottom: 0px;
}
.bottom-nav {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.bottom-nav__img {
  border-radius: 100px;
}
.bottom-nav__info {
  flex: 1;
}
.bottom-nav__title {
  font-size: 16px;
  margin-bottom: 8px;
}
.bottom-nav__price {
  font-size: 16px;
  font-weight: 500;
}
.bottom-nav__amount {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: end;
  align-items: center;
  border: #c1c1c1 solid 1px;
  text-align: right;
  width: 200px;
  height: 56px;
  border-radius: 100px;
  padding: 0px 16px 0px 0px;
}
.bottom-nav__amount--count {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  text-align: right;
  width: 160px;
  height: 50px;
  border-radius: 100px;
}
.bottom-nav__amount--count:focus {
  outline: 0;
}

.bottom-nav__btn--cart {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 200px;
  height: 56px;
  border-radius: 100px;
  padding: 0px 16px 0px 16px;
  background-color: #ffe04b;
}
.bottom-nav__btn--cart:hover {
  background-color: #ffeb60;
}
