@import "/src/views/public/css/main.css";
.overview{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.overview__category{
  border: 1px solid black;
  border-radius: 16px;
  padding: 4px;
}

.content{
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.bottom-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: lightyellow;
  position: sticky;
  bottom: 0;
}