<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./detail.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="./detail.js"></script>
    <title>상품 상세페이지</title>
  </head>
  <body>
    <header></header>
    <nav class="navbar"></nav>
    <main role="main" class="prod-detail">
      <section class="overview">
        <img
          class="overview__img item__img"
          src
          width="500px"
        />
        <div class="overview__detail">
          <p class="overview__category"></p>
          <p class="overview__title item__name"></p>
          <h2><strong class="overview__price item__price"></strong>원</h2>
        </div>
      </section>
      
      <!-- 하단 장바구니/구매하기 버튼 영역 -->
      <nav class="bottom-nav">
        <img
          class="bottom-nav__img item__img"
          src
          width="50px"
        />
        <div class="bottom-nav__info">
          <p class="bottom-nav__title item__name"></p>
          <p><strong class="bottom-nav__price item__price"></strong>원</p>
        </div>
        <div class="bottom-nav__amount">
          <input class="bottom-nav__amount--count" type="number" value="1" min="1">개</input>
        </div>
        <button class="bottom-nav__btn--cart">장바구니 담기</button>
      </nav>
    </main>

    <footer></footer>
  </body>
</html>
