<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="detail.css" />
    <title>상품 상세페이지</title>
  </head>
  <body>
    <main role="main" class="prod-detail">
      <section class="overview">
        <img
          class="overview__img item__img"
          src="https://user-images.githubusercontent.com/126763111/233000890-41c35704-7abd-436d-a1c3-40796df5c021.png"
          width="500px"
        />
        <div class="overview__detail">
          <h1 class="overview__title item__name">캐티맨 카샤카샤 붕붕</h1>
          <h2><strong class="overview__price item__price">4,800</strong>원</h2>
        </div>
      </section>
      <!-- 상품 상세이미지 영역 -->
      <section class="content">
        <img
          class="content__img"
          src="https://aboutpet.godohosting.com/img/3316542%20%EC%BA%90%ED%8B%B0%EB%A7%A8%20%EC%B9%B4%EC%83%A4%EC%B9%B4%EC%83%A4%20%EB%B6%95%EB%B6%95_%EC%83%81%EC%84%B8.jpg"
        />
      </section>
      <!-- 하단 장바구니/구매하기 버튼 영역 -->
      <nav class="bottom-nav">
        <img
          class="bottom-nav__img item__img"
          src="https://user-images.githubusercontent.com/126763111/233000890-41c35704-7abd-436d-a1c3-40796df5c021.png"
          width="50px"
        />
        <div class="bottom-nav__info">
          <p class="bottom-nav__title item__name">캐티맨 카샤카샤 붕붕</p>
          <p><strong class="bottom-nav__price item__price">4,800</strong>원</p>
        </div>
        <div class="bottom-nav__amount">
          <input class="bottom-nav__amount--count" type="number" value="0">개</input>
        </div>
        <button class="bottom-nav__btn--cart">장바구니 담기</button>
      </nav>
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="detail.js" type="module"></script>
  </body>
</html>
