<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cancle</title>
    <link rel="stylesheet" href="./cancle.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="./cancle.js" type="module"></script>
  </head>
  <body>
    <header></header>
    <nav class="navbar"></nav>
    <main>
      <h3>취소신청</h3>
      <div class="contents">
        <div class="cancle-order">
          <section>
            <div class="itme-info">
              <img src="../../../img/products/logo_simple.png" />
              <div>
                <span>제품명</span>
                <span>수량</span>
                <div>금액</div>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>취소 사유</span>
            </div>
            <div class="content">
              <div>
                <span>사유 선택</span>
                <ul class="cancle-reason">
                  <li>
                    <input type="radio" name="reason" />
                    <span>단순변심</span>
                  </li>
                  <li>
                    <input type="radio" name="reason" />
                    <span>주문실수</span>
                  </li>
                  <li>
                    <input type="radio" name="reason" />
                    <span>배송지연</span>
                  </li>
                </ul>
              </div>
              <div class="cancle-detail-reason">
                <span>상세 사유 입력</span>
                <input type="text" placeholder="내용을 입력해주세요." />
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>예상 환불 금액</span>
            </div>
            <div class="content">
              <div class="return-price">
                <span>환불금액</span>
                <span>20000원</span>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <span>*주문 시 결제 수단으로 환불됩니다.</span>
              <span>단, 가상계좌의 경우 입금하신 계좌로 환불됩니다.</span>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <div class="content__boutton-wrap">
                <button>취소</button>
                <button>취소 신청하기</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
