<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cancle</title>
    <link rel="stylesheet" href="../../../config.css" />
    <link rel="stylesheet" href="../../../products/main/footer/footer.css" />
    <link rel="stylesheet" href="../../../products/main/header/header.css" />
    <link rel="stylesheet" href="../order-common.css" />
    <link rel="stylesheet" href="./cancle.css"/>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="#"><img class="nav__logo" src="../../../img/products/logo.png" width="140" /></a>
        <ul class="nav__cate">
          <li>
            <a href="#">Food</a>
          </li>
          <li>
            <a href="#">Snack</a>
          </li>
          <li>
            <a href="#">Toy</a>
          </li>
          <li>
            <a href="#">Toilet</a>
          </li>
          <li>
            <a href="#">Fashion</a>
          </li>
        </ul>

        <ul class="nav__user-menu">
          <li>
            <a href="mypage"><img class="icon" src="../../../img/products/profile.png" /></a>
          </li>
          <li>
            <a href="cart"><img class="icon" src="../../../img/products/cart.png" /></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h3>취소신청</h3>
      <div class="contents">
        <div class="cancle-order">
          <section>
            <div class="itme-info">
              <img src="../../../img/products/logo_simple.png" />
              <div>
                <span>제품명</span>
                <span>수량</span>
                <div>금액</div>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>취소 사유</span>
            </div>
            <div class="content">
              <div>
                <span>사유 선택</span>
                <ul class="cancle-reason">
                  <li>
                    <input type="radio" name="reason">단순변심</input>
                  </li>
                  <li>
                    <input type="radio" name="reason">주문실수</input>
                  </li>
                  <li>
                    <input type="radio" name="reason">배송지연</input>
                  </li>
                </ul>
              </div>
              <div class="cancle-detail-reason">
                <span>상세 사유 입력</span>
                <input type="text" placeholder="내용을 입력해주세요."></input>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title">
              <span>예상 환불 금액</span>
            </div>
            <div class="content">
              <div class="return-price">
                <span>환불금액</span>
                <span>20000원</span>
              </div>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <span>*주문 시 결제 수단으로 환불됩니다.</span>
              <span>단, 가상계좌의 경우 입금하신 계좌로 환불됩니다.</span>
            </div>
          </section>
          <section>
            <div class="content-title"></div>
            <div class="content">
              <div class="content__boutton-wrap">
                <button>취소</button>
                <button>취소 신청하기</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__brand">
        <a href="#">
          <img src="../../../img/products/logo_simple.png" width="120px" />
        </a>
        <p><strong>고롱고롱</strong></p>
        <p>우리 댕댕이, 우리 야옹이 용품 쉽게, 빠르게!</p>
        <p>고롱고롱은 초보 집사님도 쉽게 주인님 용품을 구매할 수 있는 온라인 쇼핑몰입니다.</p>
        <p>TEAM GorongGorong ฅ^•ﻌ•^ฅ</p>
        <p>©2023 Elice Engineer Track SW4</p>
      </div>
      <div class="footer__bank">
        <h1>BANK INFO</h1>
        <p><strong>카카오뱅크</strong> 3333-1234-567890</p>
        <p><strong>예금주</strong> 주식회사 고롱고롱</p>
      </div>
      <div class="footer__to-top">
        <a href="#">
          <img src="../../../img/products/top.png" />
        </a>
      </div>
    </footer>
  </body>
</html>
