.prod {
  padding: 50px;
}
.prod__page-size {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.prod__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.prod__item {
  width: 100%;
  display: grid;
}
.prod__link {
  text-decoration: 0;
  color: black;
}

.prod__link-thumb {
  width: 100%;
  border-radius: 8px;
}

.prod__title {
  margin: 10px 0px;
}
.prod__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod__order-price {
  font-size: 24px;
  font-weight: 500;
  margin-right: 2px;
}

/* .pagination-list {
  display: flex;
  justify-content: center;
}
.pagination-list li {
  border: 1px solid black;
  border-radius: 100px;
  padding: 10px;
  margin: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-list li:hover {
  background-color: #ffb904;
}
.pagination-list li:focus {
  background-color: #ffb904;
}

.pagination-list .pagination__disabled {
  border: 1px solid gray;
  color: rgb(172, 172, 172);
}
.pagination-list .pagination__disabled:hover {
  border: 1px solid gray;
  color: lightgray;
  background-color: gray;
} */
