<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./home.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="./home.js" ></script>
    <title>고롱고롱</title>
  </head>
  <header></header>
  <nav class="navbar"></nav>
  <body>
    <main role="main">
      <section class="prod">
        <div class="prod__page-size">
          <p>총 00개의 상품</p>
          <p>표시 상품 수: 20개</p>
        </div>
        <!-- 상품 리스트 불러오는 부분 -->
        <ul class="prod__list"></ul>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
