<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./home.css" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="./home.js"></script>
    <title>고롱고롱</title>
  </head>
  <body>
    <header></header>
    <nav class="navbar">
      <ul class="nav__cate">
        <li>
          <a class="nav__cate--on" href="/">All</a>
        </li>
        <li>
          <a href="/products/Food">Food</a>
        </li>
        <li>
          <a href="/products/Snack">Snack</a>
        </li>
        <li>
          <a href="/products/Toy">Toy</a>
        </li>
        <li>
          <a href="/products/Toilet">Toilet</a>
        </li>
        <li>
          <a href="/products/Fashion">Fashion</a>
        </li>
      </ul>
    </nav>
    <main role="main">
      <section class="prod">
        <div class="prod__page-size">
          <p>총 <span class="prod__item--amount"></span>개의 상품</p>
        </div>
        <!-- 상품 리스트 불러오는 부분 -->
        <ul class="prod__list"></ul>
        <!-- 페이지네이션 -->
        <nav class="pagination" role="navigation" aria-label="pagination">
          <ul class="pagination-list">
            <li>1</li>
            <li>2</li>
            <li class="pagination__disabled">3</li>
            <li class="pagination__disabled">4</li>
            <li class="pagination__disabled">5</li>
          </ul>
        </nav>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
