<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>고롱고롱::장바구니</title>
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <link rel="stylesheet" href="./cart.css" />
    <link rel="icon" href="/img/favicon.png" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./cart.js" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header></header>
    <div>
      <h3 id="page-title">장바구니</h3>
    </div>
    <main>
      <section>
        <ul class="cart-list"></ul>
        <div id="order-delete-button-wrap">
          <div id="delete-button-wrap">
            <button id="choice-delete">선택삭제</button>
            <button id="all-delete">전체삭제</button>
          </div>
          <div id="order-button-wrap">
            <a id="all-order" href="/orders/payment"><button>전체상품 주문</button></a>
          </div>
        </div>
        <div id="total-price-wrap">
          <span>합계</span>
          <div>
            <span id="total-price">0</span>
            원
          </div>
        </div>
        <a href="/orders/payment" class="choice-order-button-wrap"><button id="choice-order">주문하기</button></a>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
