<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
    <link rel="stylesheet" href="./cart.css" />
    <link rel="icon" href="/src/views/img/favicon-96x96.jpg" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./cart.js" type="module"></script>
  </head>
  <body>
    <header></header>
    <nav class="navbar"></nav>
    <div>
      <h3 id="page-title">CART</h3>
    </div>
    <main>
      <section>
        <ul id="cart-list"></ul>
        <div id="order-delete-button-wrap">
          <div id="delete-button-wrap">
            <button id="choice-delete">선택삭제</button>
            <button id="all-delete">전체삭제</button>
          </div>
          <div id="order-button-wrap">
            <button id="choice-order">선택상품 주문</button>
            <button id="all-order">전체상품 주문</button>
          </div>
        </div>
        <div id="total-price-wrap">
          <span>합계</span>
          <div>
            <span id="total-price">0</span>
            원
          </div>
        </div>
        <form class="last-order-button-wrap">
          <button id="last-order-button">주문하기</button>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
