body header{
  padding-bottom: 40px;
}
body {
  background-color: #f7f7f7;
}

#page-title {
  padding: 0 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  margin-left: 370px;
  margin-top: 20px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.cart-list {
  overflow: auto;
  height: 500px;
  width: 980px;
  border-radius: 5px;
  margin-bottom: 70px;
}

.cart-list__cart-item-wrap {
  width: 930px;
  list-style-type: none;
  border-bottom: 3px solid #f7f7f7;
  padding: 20px 0;
}

.cart-item-wrap__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.cart-item__item-info-wrap {
  display: flex;
  align-items: center;
}

.item-info-wrap__item-checkbox {
  /*webkit 속성값 */
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 15px;
  cursor: pointer;
  outline: none;
  border: 2px solid #ffeb60;
  border-radius: 2px;
}

.item-info-wrap__item-checkbox::before {
  content: '\2713';
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

.item-info-wrap__item-checkbox:checked {
  /* check box */
  /* Light/primary */
  background: #ffeb60;
  /* Light/primary */
  border: 2px solid #ffeb60;
  border-radius: 2px;
}

.item-info-wrap__item-checkbox:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

.item-img-wrap__item-img {
  width: 90%;
  max-width: 100px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.cart-list__amount-wrap {
  display: flex;
  justify-content: space-between;
}

.amount-wrap__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount-wrap__amount button {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  background: #ffeb60;
  border: 1px solid #dfdfdf;
}

.amount-wrap__delete-button {
  margin-left: 30px;
  border: none;
  background: white;
}

.amount-wrap__delete-button > img {
  width: 20px;
  height: 20px;
}

.amount-wrap__amount span {
  background: #ffeb60;
  text-align: center;
  width: 40px;
  height: 30px;
  line-height: 30px;
}

#total-price-wrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.choice-order-button-wrap {
  display: flex;
}

#choice-order {
  margin: auto;
  width: 50%;
  height: 40px;
  font-size: 20px;
}

#order-delete-button-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#order-delete-button-wrap button {
  /* Light/primary */
  background: #ffeb60;
  /* Gray/G-14 */
  color: #242424;
  width: 120px;
  height: 40px;
  font-size: 15px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.empty-cart {
  margin-top: 180px;
  margin-left: 380px;
}

.empty-cart-img {
  margin-left: 310px;
}
