body {
  background-color: #f7f7f7;
}

header {
  padding-bottom: 20px;
}

#page-title {
  padding: 0 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  margin-left: 370px;
  margin-top: 20px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 850px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.cart-list {
  overflow: auto;
  height: 500px;
  width: 980px;
  border-radius: 5px;
  margin-bottom: 70px;
}

.cart-list__cart-item-wrap {
  width: 930px;
  list-style-type: none;
  border-bottom: 3px solid #f7f7f7;
  padding: 20px 0;
}

.cart-item-wrap__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.cart-item__item-info-wrap {
  display: flex;
  align-items: center;
}

.item-info-wrap__item-checkbox {
  /*webkit 속성값 */
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 15px;
  cursor: pointer;
  outline: none;
  border: 2px solid #ffeb60;
  border-radius: 2px;
}

.item-info-wrap__item-checkbox::before {
  content: '\2713';
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

.item-info-wrap__item-checkbox:checked {
  /* check box */
  /* Light/primary */
  background: #ffeb60;
  /* Light/primary */
  border: 2px solid #ffeb60;
  border-radius: 2px;
}

.item-info-wrap__item-checkbox:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

.item-img-wrap__item-img {
  width: 90%;
  max-width: 100px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.cart-list__amount-wrap {
  display: flex;
  justify-content: space-between;
}

.amount-wrap__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount-wrap__amount button {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  background: #ffeb60;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
}

.amount-wrap__delete-button {
  margin-left: 30px;
  border: none;
  background: white;
}

.amount-wrap__delete-button > img {
  width: 20px;
  height: 20px;
}

.amount-wrap__amount span {
  text-align: center;
  width: 40px;
  height: 30px;
  line-height: 30px;
}

#total-price-wrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.choice-order-button-wrap {
  display: flex;
}

#choice-order {
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 50%;
  height: 56px;
  border-radius: 100px;
  padding: 0px 16px 0px 16px;
  background-color: #ffe04b;
}

#choice-order:hover {
  background-color: #ffeb60;
}

#order-delete-button-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#order-delete-button-wrap button {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 200px;
  height: 56px;
  border-radius: 100px;
  border: #c1c1c1 solid 1px;
  background-color: #c1c1c120;
  padding: 0px 16px 0px 16px;
}

#order-delete-button-wrap button:hover {
  background-color: white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.empty-cart {
  margin-top: 180px;
  margin-left: 380px;
}

.empty-cart-img {
  margin-left: 310px;
}
