footer {
  background-color: #fafaf6;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}
footer p {
  margin-bottom: 4px;
}
strong {
  font-weight: 700;
}

.footer__brand {
  color: #8e8a83;
  padding: 20px;
  font-size: 12px;
  flex-grow: 1;
}
.footer__brand img {
  margin-bottom: 20px;
}
.footer__brand p:last-child {
  margin-top: 20px;
}

.footer__bank {
  color: #8e8a83;
  padding: 20px;
  font-size: 12px;
  flex-grow: 2;
}
.footer__bank h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
