header{
  display: flex;
  justify-content: center;
  background-color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  position: sticky;
  width: 1200px;
}

.nav__user-menu {
  display: flex;
  align-items: center;
}
.nav__user-menu li {
  padding: 8px;
}
.nav__login{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #6f6f6f;
}