@import 'config.css';
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}

.sign__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sign__form h1 {
  font-size: 24px;
  font-weight: 500;
  padding: 40px 0 24px 0;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 24px;
}
input {
  height: 48px;
  width: 340px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 24px;
}
input:hover {
  background-color: #c1c1c120;
}
input:focus {
  outline: 0;
  border: 1px solid #555555;
}

.form__help {
  color: #9b9b9b;
  font-size: 12px;
  position: relative;
  top: -24px;
}

.form__submit {
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 340px;
  height: 56px;
  border-radius: 100px;
  padding: 0px 16px 0px 16px;
  background-color: #ffe04b;
}

.form__submit:hover {
  background-color: #ffeb60;
}

/* 주소api */
.change-delivery-address input {
  width: 340px;
  margin-bottom: 8px;
}

.find__address{
  display: flex;
  justify-content: space-between;
}
#sample6_postcode{
  flex: 2;
  width: 68%;
}
.change-delivery-address button{
  font-size: 16px;
  font-weight: 600;
  border: 0;
  height: 48px;
  width: 30%;
  border-radius: 4px;
  border: #c1c1c1 solid 1px;
  background-color: white;
  padding: 0px 16px 0px 16px;
}

.change-delivery-address button:hover{
  background-color: #c1c1c120;
}
#sample6_address{
  width: 340px;
}