.nav__cate {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.nav__cate--on{
  color: #ffb904 !important;
}
.nav__cate li {
  padding: 16px;
}

.nav__cate li a {
  text-decoration: none;
  font-family: 'Paytone One', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #6f6f6f;
}
.nav__cate li a:hover {
  color: #ffb904;
}
