body {
  background-color: #f7f7f7;
}

body header {
  padding-bottom: 20px;
}

main {
  width: 1200px;
  margin: auto;
}

h3 {
  padding: 0 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
}

.contents {
  padding-bottom: 39px;
  background-color: #ffffff;
  border-radius: 20px;
}

.contents > div {
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px 54px;
}

section {
  display: flex;
  border-bottom: 1px solid #abb2b9;
  padding: 26px 0px 26px 0px;
  justify-content: center;
}

.content-title {
  width: 220px;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 800px;
  padding-right: 30px;
  width: calc(100% - 225px);
}

.content__button-wrap {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.content__button-wrap button {
  margin: 0 2.5px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 250px;
  height: 56px;
  border-radius: 100px;
  border: #c1c1c1 solid 1px;
  background-color: #c1c1c120;
  padding: 0px 16px 0px 16px;
}

.content__button-wrap button:hover {
  background-color: white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
